/* form{
    background-color: rgb(190, 140, 130);
}
/* p{
    background-color: aqua;
} */
/* div{
    background-color: rgb(18, 144, 102);
}
input{
    background-color: rgb(174, 186, 162);
    color: coral;
}
button{
    background-color: blue;
} */ 
 div{
    background-color: darkgoldenrod;
 }

 input{
    background-color: inherit;
 }